
.redirect_link_back {
    position: absolute;
    margin-left: 3%;
    margin-top: 5%;
    background-color: #000000;
    padding: 10px 10px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    word-wrap: normal;
}

.bio {
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
    color: #E8A149;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.picture {
    margin-left: 56px;
}

.animate_hello {
    position: absolute;
    margin-top: -40px;
    color: #ffdd99;
    letter-spacing: 4px;
    margin-left: 360px;
    font-size: 36px;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    text-align: center;
}

.about_me {
    overflow: hidden;
    font-family: "Times New Roman";
    font-size: 22px;
    margin-left: 100px;
    margin-top: 20px;
}

.contact-info {
    box-sizing: border-box;
    display: flex;
    margin-left: 4%;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.card {
    background: #E8A149;
    color: white;
    padding: 0 20px;
    margin: 0 30px;
    width: calc(33% - 20px);
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-icon {
    font-size: 32px;
    background: #031921;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.contact_text {
    margin-left: 25%;
    width: 410px;
    border: 4px;
    padding: 6px 0px;
    text-align: center;
    border-style: solid;
    color: #ffdd99;
    border-color: #E8A149;
}


#line_canvas {
    position: absolute;
    margin-left: -33%;
    margin-top: -3%;
}

.card:hover .card-icon {
    background: none;
    transform: scale(1.5);
}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Times New Roman";
    font-weight: bold;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p {
    max-height:  40px;
    opacity: 0.9;
}