
body {
  background-color: #031921;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

hr {
  height: 30px;
  margin: -0.5em 0;
  position: relative;
  padding: 0;
  color: #E8A149;
  background-color: #E8A149;
  border: 0;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #E8A149;
}

a {
	color: #777;
	transition: all .4s ease-in-out;
	font-size: 24px;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	font-size: 28px;
	color: hotpink;
	padding-bottom: 2px;
}

/* selected link */
a:active {
  color: yellow;
}

.tree {
  margin-top: 4.7%;
  margin-left: -3%;
  position: absolute;
  z-index: -1;
}

.present {
	margin-top: 0%;
	font-size: 17px;
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
}

.redirect_link_1 {
    position: absolute;
    margin-left: 23%;
    margin-top: 7%;
    background-color: #000000;
    padding: 10px 8px;
    border-radius: 25px;
	  color: white;
	  font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.redirect_link_2 {
    position: absolute;
    margin-left: 35%;
    margin-top: 1%;
    background-color: #000000;
    padding: 10px 8px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.redirect_link_3 {
    position: absolute;
    margin-left: 73%;
    margin-top: -10%;
    background-color: #000000;
    padding: 10px 8px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.redirect_link_4 {
    position: absolute;
    margin-left: 3%;
    margin-top: 5%;
    background-color: #000000;
    padding: 10px 10px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.about_picture {
    margin-top: 22%;
    margin-left: 40%;
}

.skills {
	color: #ffffff;
  position: absolute;
	margin-left: 10%;
	margin-top: -2%;
	font-size: 22px;
    font-family: "Times New Roman";
    text-align: left;
}

@keyframes toggle {
    from {
        opacity:0;
    }

    15% {
        opacity:1;
    }

    to {
        opacity:0;
    }
}

.owlArea {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: toggle 4s linear infinite;
    top: 10px;
    width: 120px;
    height: 50px;
    border: 0px solid white;
}

.canvas0 {
	left: 20%;
  top : 75%;
	position: absolute;
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 80%;
    border: 0px solid white;
}