
body {
  background-color: #031921;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #E8A149;
}

a {
	color: #777;
	transition: all .4s ease-in-out;
	font-size: 24px;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	font-size: 28px;
	color: hotpink;
	padding-bottom: 2px;
}

li {
    list-style-type: none;
}

.tree {
  pointer-events: auto;
  margin-top: 8%;
  margin-left: -3%;
  position: absolute;
  z-index: 0;
}

hr {
  height: 30px;
  width: 5200px;
  margin: -0.5em 0;
  position: absolute;
  padding: 0;
  color: #E8A149;
  background-color: #E8A149;
  border: 0;
}

.present {
    position: absolute;
	margin-top: 3%;
    color: #ffdd99;
    letter-spacing: 7px;
    margin-left: 45%;
	font-size: 36px;
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
}

.owlArea {
    animation: toggle 4s linear infinite;
    position : absolute;
    top: -125px;
    left: 630px;
    border: 0px solid white;
}

.redirect_link_1 {
    z-index: 999999;
    left: 335px;
    top: 357px;
    position: absolute;
    background-color: #000000;
    padding: 10px 8px;
    border-radius: 25px;
	  color: white;
	  font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.redirect_link_2 {
    z-index: 999999;
    left: 500px;
    top: 280px;
    position: absolute;
    background-color: #000000;
    padding: 10px 8px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.redirect_link_3 {
    z-index: 999999;
    left: 975px;
    top: 135px;
    position: absolute;
    background-color: #000000;
    padding: 10px 8px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.redirect_link_4 {
    position: absolute;
    margin-left: 3%;
    margin-top: 5%;
    background-color: #000000;
    padding: 10px 10px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.skills {
	color: #ffffff;
    position: absolute;
	margin-left: 50%;
	margin-top: 2%;
	font-size: 22px;
    font-family: "Times New Roman";
    text-align: left;
}

@keyframes toggle {
    from {
        opacity:0;
    }

    15% {
        opacity:1;
    }

    to {
        opacity:0;
    }
}

.canvas0 {
	left: 20%;
    top : 104%;
	position: absolute;
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 80%;
    border: 0px solid white;
}

.bio {
    position: absolute;
    margin-top: 15%;
    margin-left: 13%;
    color: #E8A149;
    font-family: "Times New Roman";
    text-align: center;
    word-wrap: normal;
}

.picture {
    margin-left: 60px;
}

.animate_hello {
    position: absolute;
    margin-top: -40px;
    color: #ffdd99;
    letter-spacing: 4px;
    margin-left: 360px;
    font-size: 36px;
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
}

.about_me {
    li{
        max-width: 400px;
        word-wrap: break-word;
    }
    overflow: hidden;
    font-family: "Times New Roman";
    font-size: 22px;
    margin-left: 100px;
    margin-top: 20px;
}

.contact-info {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.card {
    background: #E8A149;
    color: white;
    padding: 0 20px;
    margin: 0 30px;
    width: calc(33% - 20px);
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-icon {
    font-size: 32px;
    background: #031921;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon {
    background: none;
    transform: scale(1.5);
}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Times New Roman";
    font-weight: bold;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p {
    max-height:  40px;
    opacity: 0.9;
}